<div class="main-page">
  <img class="logo-img" src="/src/assets/img/my-logo.png" alt="logo-image">
  <h1>Welcome to myFlix! Here you can find some pop movies with details information.</h1>
  <div class="button-box">
    <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        color="primary"
      >
        Sign Up
      </button>
      <button 
      mat-raised-button 
      color="primary" 
      (click)="openUserLoginDialog()"  
      >
        Login
      </button>
  </div>
      

  </div>
  