<mat-toolbar>
  <button 
  mat-icon-button 
  class="example-icon" 
  aria-label="Example home icon"
  (click)="openMovieList()"
  >MyFlix
    <mat-icon>home</mat-icon>
  </button>
  <span
  (click)="openMovieList()"
  class="tohomepage"
  >Favorite Movie List</span>
  <span class="example-spacer"></span>
  <span  
  class="navbar-username" 
  (click)="openUserProfile()"
  >
  {{this.Username}} 
  </span>
  <span  
  class="navbar-logout"
  (click)="logout()"
  >
     log out
    </span>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
