<app-navbar></app-navbar>
<h1>Your Profile Page</h1>
<div class="outside-box">
    <mat-card class="edit-box">
        <mat-card-header>
            <mat-card-title>Edit your personal information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><b>Username:&nbsp;</b> {{ user.Username }}</p>
            <p>
              <b>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              {{ user.Email }}
            </p>
            <p><b>Birthday:&nbsp;&nbsp;&nbsp;&nbsp;</b> {{ user.Birthday | date:'mediumDate'}}</p>
        </mat-card-content>
          <mat-card-actions class="usercard-actions">
              <button
                mat-raised-button
                (click)="openEditFormDialog()"
                color="primary"
                class="edit-button"
              >
              Edit profile
              </button>
              <button
                mat-raised-button
                (click)="deleteUser()"
                color="warn"
                class="delete-button"
              >
                Delete Profile
              </button>
          </mat-card-actions>
    </mat-card>
</div>
<h2 class="user-fav">My Favorite Movies</h2>

<div class="favorites-container"
style="display: flex;"
>
<p *ngIf="favMovies.length==0">You don't have any favourite movies in your list</p>


  <mat-card
  *ngFor="let favMovie of favMovies; let i = index"
    class="favorite-card"
  >
  <mat-card-content>
    {{favMovie}}
  </mat-card-content> 
    <!--  <mat-card-header 
    >
      <mat-card-title>
        {{user.favMovie.Title}}
      </mat-card-title>
      <mat-card-subtitle>
        Directed by: {{ favMovie.director }}
      </mat-card-subtitle>
    </mat-card-header>
    <img src= "{{favMovie.ImagePath}}" />
      
    <mat-card-actions class="fav-action">
      <button
      mat-flat-button
      color="primary"
        class="fav-action-btn"
        (click)="openMovieDetailsDialog(favMovie.Title, favMovie.Description,favMovie.Genre.Name,favMovie.Director.Name)"
      >
        Movie info
      </button>
      <button
        mat-flat-button
        color="primary"
        class="fav-action-btn"
        (click)="openGenreDialog(favMovie.Genre.Name, favMovie.Genre.Description)
        "
      >
        Genre
      </button>
      <button
      mat-flat-button         
      color="primary"
        class="fav-action-btn"
        (click)="
          openDirectorDialog(
            favMovie.Director.Name,
            favMovie.Director.Bio,
            favMovie.Director.Birthday
          )
        "
      >
        Director
      </button>
    </mat-card-actions>

    <button
      mat-icon-button
      (click)="removeFavoriteMovies(favMovie._id, favMovie.title)"
    >
      <mat-icon class="remove-btn">remove_circle</mat-icon>
    </button>
  </mat-card> 
</div> -->

